﻿@model EmailFinder.Models.ViewModel;
@{
    ViewData["Title"] = "Znajdź email";
}

<style>
    .list-group li {
        border: none;
    }
    th, td {
        border: none !important;
    }
</style>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Data.Name)
        @Html.TextBoxFor(model => model.Data.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Data.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Data.Surname)
        @Html.TextBoxFor(model => model.Data.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Data.Surname, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Data.Domain)
        @Html.TextBoxFor(model => model.Data.Domain, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Data.Domain, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Znajdź maila</button>
}
@if (Model.Good.Any() || Model.Bad.Any())
{
    <hr />
    <table class='table'>
        <thead>
            <tr>
                <th scope="col">Istniejące:</th>
                <th scope="col">Nieistniejące:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul class="list-group">
                        @foreach (var mail in Model.Good)
                        {
                            <li class="list-group-item text-success">@mail</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul class="list-group">
                        @foreach (var mail in Model.Bad)
                        {
                            <li class="list-group-item text-danger">@mail</li>
                        }
                    </ul>
                </td>
            </tr>
        </tbody>

    </table>
}
